.footer {
    background: url('../../assets/images/footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 136px 0 24px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    text-align: center;
}

.wrapper p {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
}